<div class="pokedetail-container">
    <button (click)="backPokedex()">Volver a la Pokedex</button>
    <img class="pokemon-image" src={{pokemon.img}}/>
    <table class="pokemon-table">
        <tbody>
            <tr>
                <td class="pokemon-name">#{{pokemon.id}}</td>
            </tr>
            <tr>
                <td>Nombre:</td>
                <td class="pokemon-name">{{namepoke}}</td>
            </tr>
            <tr>
                <td>Tipos:</td>
                <td>
                    <ul>
                        <li class="pokemon-name" *ngFor="let type of pokemon.type">{{type}}</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Altura:</td>
                <td>{{pokemon.height}}</td>
            </tr>
            <tr>
                <td>Peso:</td>
                <td>{{pokemon.weight}}</td>
            </tr>
            <tr>
                <td>Lista de movimientos:</td>
                <td>
                    <ul>
                        <li class="pokemon-name" *ngFor="let skill of pokemon.skills">{{skill}}</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>