<div class="pokemon-search">
    <input type="text" class="input-search" placeholder="Buscar..." (keyup)="namePoke($event)" />
    <button>Buscar</button>
</div>
<div class="pokemon-container">
    <div class="pokemon-card" *ngFor="let pokemon of visibles;let i = index" [attr.data-namePoke]="pokemon.name"
        [attr.data-idPoke]="pokemon.id" (click)="goDetail($event)">
        <h5 class="pokemon-name" [attr.data-namePoke]="pokemon.name"
        [attr.data-idPoke]="pokemon.id">{{pokemon.name}}</h5>
        <img class="pokemon-img" src={{pokemon.img}} width="100" height="100" [attr.data-namePoke]="pokemon.name"
        [attr.data-idPoke]="pokemon.id"/>
        <div class="pokemon-attribute-divisor" [attr.data-namePoke]="pokemon.name"
        [attr.data-idPoke]="pokemon.id"></div>
        <div class="pokemon-atribute-container" [attr.data-namePoke]="pokemon.name"
        [attr.data-idPoke]="pokemon.id"> 
            <span class="pokemon-atribute" *ngFor="let tipo of this.pokemon.type" [attr.data-namePoke]="pokemon.name"
            [attr.data-idPoke]="pokemon.id">
                {{tipo}}
            </span>
        </div>
    </div>
</div>