<div class="login">
    <div class="login-triangle-left"></div>
    <div class="login-container">
        <div>
            <header>INICIAR SESIÓN</header>
            <div [ngClass]="{'err-center':err}">
                <div [ngClass]="{'errorMsg' : err}">{{msgErr}}</div>
            </div>
            <div class="login-content">
                <input type="text" class="input-email" placeholder="E-mail" (keyup)="setEmail($event)" />
                <input type="password" class="input-password" placeholder="Contraseña " (keyup)="setPassword($event)" />
            </div>
            <div class="buttons">
                <button (click)="logIn()">Iniciar sesion</button>
                <br />
                <a (click)="signUp()">Registrarse</a>
            </div>
        </div>
    </div>
    <div class="login-triangle-right"></div>
</div>