<div class="container">
    <header>INICIAR SESIÓN</header>
    <div [ngClass]="{'errorMsg' : err}">{{msgErr}}</div>
    <div class="container">
        <div class="campo">
            <label>Nombre de usuario: </label><input type="text" (keyup)="setName($event)" />
        </div>
        <div class="campo">
            <label>Contraseña: </label><input type="password" (keyup)="setPassword($event)" />
        </div>
    </div>
    <div class="buttons">
        <button (click)="logIn()">INICIAR SESION</button>
        <button (click)="signUp()">REGISTRARSE</button>
    </div>
</div>